<!--The content below is only a placeholder and can be replaced.-->
<header>
  <img src="header.png" alt="header" id="cabezera">
</header>

<main id="principal">

  <div id="equipos-izq">
      <div id="Colombia" class="lamina-equipo">
          <div class="bandera"><img src="b-col-2.png" alt=""></div>
          <div class="goles"><input type="text" class="cant-goles"></div>
      </div>

      <div id="Chile" class="lamina-equipo">
          <div class="bandera"><img src="media/b-chi-2.png" alt=""></div>

          <div class="goles"><input type="text" class="cant-goles"></div>
      </div>



      <div id="Venezuela" class="lamina-equipo">
          <div class="bandera"><img src="media/b-ven-2.png" alt=""></div>
          <div class="goles"><input type="text" class="cant-goles"></div>
      </div>

      <div id="Brasil" class="lamina-equipo">
          <div class="bandera"><img src="media/b-arg-2.png" alt=""></div>
          <div class="goles"><input type="text" class="cant-goles"></div>
      </div>
  </div>

  <div class="semifinales">
      <div id="sem-1" class="lamina-equipo semifinalistas">
          <div class="bandera"><img src="media/vacio1.png" alt=""></div>
          
      </div>
      <div id="sem-2" class="lamina-equipo semifinalistas">
          <div class="bandera"><img src="media/vacio1.png" alt=""></div>
          
      </div>
  </div>
  <div id="final">
      <div id="finalista-1" class="lamina-equipo">
          <div class="bandera"><img src="media/vacio1.png" alt=""></div>
        
      </div>
      <img src="media/copaLogo.png" alt="" class="logo-copa">
      <div id="finalista-2" class="lamina-equipo">
          <div class="bandera"><img src="media/vacio5.png" alt=""></div>
        
      </div>
      <img src="media/boton-generar.png" alt="" id="btn-generar">
  </div>
  <div class="semifinales">
      <div id="sem-3" class="lamina-equipo semifinalistas">
          <div class="bandera"><img src="media/vacio1.png" alt=""></div>
       
      </div>
      <div id="sem-4" class="lamina-equipo semifinalistas">
          <div class="bandera"><img src="media/vacio1.png" alt=""></div>
       
      </div>
  </div>

  <div id="equipo-der">
      <div id="Uruguay" class="lamina-equipo">

          
          <div class="bandera"><img src="media/b-uru-2.png" alt=""></div>
          <div class="goles"><input type="text" class="cant-goles-2"></div>
      </div>

      <div id="Peru" class="lamina-equipo">

          
          <div class="bandera"><img src="media/b-per-2.png" alt=""></div>
          <div class="goles"><input type="text" class="cant-goles-2"></div>
      </div>

      <div id="Brasil" class="lamina-equipo">

          
          <div class="bandera"><img src="media/b-bra-2.png" alt=""></div>
          <div class="goles"><input type="text" class="cant-goles-2"></div>
      </div>

      <div id="Paraguay" class="lamina-equipo">

         
          <div class="bandera"><img src="media/b-par-2.png" alt=""></div>
          <div class="goles"><input type="text" class="cant-goles-2"></div>
      </div>
  </div>

</main>

<footer>

</footer>


